body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 48px;
  color: #2e7ad3;
  text-align: center;
}
.subheading {
  color: #104c90;
  font-size: 32px;
}
img {
  width: 450px;
}

.B_post {
  background-color: #f1f1f1;
  width: 450px;
  margin: auto;
}
