body {
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
}
.bg {
  background-color: purple;
  margin: 0;
  color: #fff;
  padding: 40px;
}

h1,
h2,
p {
  margin: 0;
}
img {
  width: 100%;
  margin: 0;
}
.con {
  background-color: #fff;
  margin: 0;
}
